<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./inc/head') %>
</head>
<body class="container">
  <header>
    <%- include('./inc/header') %>
  </header>
  <main>
    <div class="jumbotron">
      <h1>This is EJS Header</h1>
      <p>Welcome to my templateing engine EJS</p>
    </div>
  </main>
  <footer>
    <%- include('./inc/footer') %>
  </footer>
</body>
</html>